

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: 'Outfit';
}

.form-control{
    &:focus{
        box-shadow: none;
        border: 1px solid #0d6dfc;
    }
}